# Data
data/raw/
data/interim/
data/processed/
notebooks/data/

# DuckDB
*.duckdb
*.duckdb.wal

# Artifacts / outputs
artifacts/
audio_cache/
embeddings_yamnet/
*.npz
*.wav
*.mp3
*.flac
*.ogg

# Jupyter
.ipynb_checkpoints/



