# Data
data/raw/
data/interim/
data/processed/
notebooks/data/
Add-Content .gitignore "artifacts/embeddings_yamnet/"
Add-Content .gitignore "artifacts/model_artifacts/*.npy"
Add-Content .gitignore "artifacts/model_artifacts/*.joblib"
Add-Content .gitignore "__pycache__/"
Add-Content .gitignore "*.npz"


# DuckDB
*.duckdb
*.duckdb.wal

# Artifacts / outputs
artifacts/
audio_cache/
embeddings_yamnet/
*.npz
*.wav
*.mp3
*.flac
*.ogg

# Jupyter
.ipynb_checkpoints/



